{% extends 'base.html' %}

{% load bootstrap_tags static %}


{% block content %}
<!-- Hero image -->
<section id="hero-image">
	<div class="topHeroWrap">
		<img src="{% static 'img/stpatrics.jpg' %}" class="img-fluid mx-auto topHero" alt="Responsive image">
	</div>
</section>
<!-- / Hero image -->

<!-- Highlight & Blogs -->

			<section id="blogs">
				<div class="row w-100 justify-content-right no-gutters content-div mt-5 mb-5 d-flex clearfix">
					<div class="col-lg-6 mb-4">
						<img class="img-fluid d-block img-responsive blogs-image"
							src="{% static 'img/dublin.jpg' %}" alt="Dublin City Liffey Valley river">
					</div>
					<div class="col-lg-6 pl-lg-4">
						<h2 class="section-title">Dublin Events Guide welcomes you!</h2>
						<div class="blockquote text-muted blogs-teaser">
							<p class="mb-0">Welcome to the Dublin city events guide. <br />This event guide has started in 2020. <br />We are collecting free and paid events that took place in Dublin or around. <br />We hope you will enjoy your visit.
							</p>
							<div class="blockquote-footer">DublinEvents Team</div>
						</div>
						<a class="btn btn-warning" href="{% url 'products:all_products' %}">See All Events</a>
					</div>
				</div>
			</section>
			<!-- Highlight & Blogs -->

			<!-- About -->
			<section id="about">
				<div class="row w-100 justify-content-left no-gutters content-div mb-3 mt-5 d-flex">
					<h2 class="section-title">About us</h2>
				</div>
				<div class="row">
					<div class="col mb-5">
						<div class="article">
							<p class="mr-2">
                                Dublin Events Guide is an info hub listing kid friendly restaurants, fun activities and upcoming events, as well as featuring unique Irish brands and retailers.
							</p>
							<p class="mr-2"> It's a comprehensive guide to Dublin for those who want to explore and enjoy the capital and is fast becoming the go to guide for everything to do with your baby, child and teen.
							</p>
							<p class="mr-2">
                                Dublinguide.ie has been designed by me for tourists, parents, grandparents, childminders and for anyone who wakes up and wonders what to do with the kids today.
							</p>
                        <p class="mr-2">
                        Hopefully this site will become your go to guide for everything to do with your baby, toddler and child in Dublin. Enjoy, I hope you have as much fun exploring Dublin with kids as I do.
							</p>
                            {% if not user.is_authenticated %}
							<p class="mr-2">New to this site?
								<a class="lato text-warning text-uppercase mx-2" href="{% url 'register' %}" data-tooltip="tooltip"
							data-placement="bottom" title="Register" data-delay="50">Sign in
									now</a>
								and join our ever growing community of all models and
								cars enthusiasts.
							</p>
							{% endif %}
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<!-- / About -->


{% endblock %}
