{% extends "base.html" %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class="container main-wrapper-index">
    <!-- Password reset Header -->
    <section id="generic-header">
        <div class="row w-100 justify-content-left no-gutters content-div mb-3 mt-5 d-flex">
            <div class="col">
                <h2 class="section-title">Reset</h2>
            </div>
            <div class="col headerRightElement backHome FyNorm clearfix">
                <a href="{% url 'index' %}" class="btn btn-link back-button clearfix text-dark" data-tooltip="tooltip"
                    data-placement="bottom" title="DOW Home page" data-delay="50"><i
                        class="align-center home-arrow fa fa-chevron-left"></i>DOW Home</a>
            </div>
        </div>
    </section>
</div>
<!-- Password reset Header -->
<div class="container main-wrapper-index bg-light mb-5 py-5">
    <div class="row d-flex justify-content-center no-gutters">
        <div class="col-lg-8 col-md-10 col-sx-12 d-block mx-auto py-5">
            <h3 class="lato mt-5">Success!</h3>
            <h5 class="lato mb-5">Your new password has been set.</h5>
            <h5 class="lato mb-5">High five! Take me to the <a href="{% url 'login' %}">log in
                    page</a>.</h5>
        </div>
    </div>
</div>
{% endblock %}