{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags%}

{% block content %}
<!-- Post page Header -->
<div class="container main-wrapper-index">
	<section id="blog-header">
		<div class="row w-100 justify-content-left no-gutters content-div mb-3 mt-5 d-flex">
			<div class="col-4">
				<h2 class="section-title">Blog</h2>
			</div>
			<div class="col-8 headerRightElement backHome FyNorm clearfix">
				<a href="{% url 'posts:get_posts' %}" class="btn btn-link back-button clearfix text-dark"
					data-tooltip="tooltip" data-placement="bottom" title="Take me back Home" data-delay="50"><i
						class="align-center home-arrow fa fa-chevron-left"></i> Back to Blogs</a>
			</div>
		</div>
	</section>
</div>
<!-- / Post page Header -->


<!-- Post content  -->
<div class="container main-wrapper-index bg-light mb-5 py-5">
	<section id="blogPost">
		<div class="row d-flex justify-content-center no-gutters">
			{% if post.image %}
			<div class="col-lg-8 col-md-10 col-sx-12 hero-image d-block mx-auto pt-3">
				<img class="hero-image img-fluid" src="{{ MEDIA_URL }}{{ post.image }}" alt="Hero image">
			</div>
			{% endif %}
		</div>
		<div class="row d-flex justify-content-center no-gutters">
			<div class="text-center mt-lg-3 mb-lg-4 mb-md-4 w-100 pt-3">
				<h2 class="article-title">{{ post.title }}</h2>
			</div>
		</div>
		<div class="row mt-2 no-gutters justify-content-center bg-transparent">
			<div class="col-lg-8 col-md-10 col-sx-12">
				<div class="row mb-1 no-gutters align-items-end">
					<div class="col-sx-2 clearfix pl-3 comment-owner-image-container d-flex">
						{% if post.author.profiles.image %}
						<img class="img-fluid comment-owner-image" src="{{ MEDIA_URL }}{{ post.author.profiles.image }}"
							alt="Authors avatar image">
						{% else %}
						<img class="rounded-circle comment-owner-image" src="/static/img/avatars/steering.jpg"
							alt="Default avatar image">
						{% endif %}
					</div>
					<div class="col-sx-10 clearfix d-flex flex-column pl-3 pt-auto">
						<p class="my-0"><strong class="lato">{{ post.author }}</strong>
							{% if post.author.profiles.contributor == True %}
							<small> | Guest</small>
							{% else %}
							<small> | DublinEvents</small>
							{% endif %}
						</p>
						<p class="article-published m-0"><i class="fa fa-clock warning-clr pr-2"></i><small
								class="thin">{{ post.published_date }}</small>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row pb-4 mt-2 no-gutters justify-content-center highlightArticle w-100">
			<div class="col-lg-8 col-md-10 col-sx-12">
				<p>{{ post.content | safe }}</p>
			</div>
			<div class="col-lg-8 col-md-10 col-sx-12 justify-content-end d-flex">
				<p class="text-muted">{{ post.views }} views</p>
			</div>
		</div>
	</section>
	<!-- / Post content -->

	<!-- Toggle comments -->
	<div class="container">
		<div class="row d-flex justify-content-center no-gutters">
			<div class="col-lg-8 col-md-10 col-sx-12">
				<button id="commentsToggle" type="button" class="btn btn-outline-dark btn-block">Comments
					&nbsp;
					{{ post.comments.count }}</button>
			</div>
		</div>
	</div>
	<!-- /Toggle comments -->
	<!-- Comments section -->
	<!-- Comment form -->
	<div id="commentSection" class="m-0 p-0 hidden">
		{% if user.is_authenticated %}
		<div class="row mt-4 no-gutters justify-content-center">
			<div class="col-lg-8 col-md-10 col-sx-12">
				<div class="row mb-1 no-gutters bg-transparent">
					<div class="col-sx-2 clearfix pl-3 comment-owner-image-container d-flex">
						{% if user.profiles.image %}
						<img class="img-fluid comment-owner-image" src="{{ MEDIA_URL }}{{ user.profiles.image }}"
							alt="Commentator's avatar image">
						{% else %}
						<img class="img-fluid comment-owner-image" src="/static/img/avatars/driving.jpg" alt="">
						{% endif %}
					</div>
					<div class="col-sx-10 clearfix d-flex flex-column pl-3">
						<strong class="lato mt-auto">{{ user }}</strong>
						<p class="article-published m-0"><i class="fa fa-clock warning-clr pr-2"></i><small
								class="thin">{% now "DATETIME_FORMAT" %}</small>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-md-10 col-sx-12">
				<form method="POST" class="mt-2 w-100">
					<fieldset class="form-group">
						<!-- <label for="comment_form">Comment:</label> -->
						{{ comment_form | crispy }}
						{% csrf_token %}
						<input type="hidden" name="owner" value="{{ user }}">
						<button class="btn btn-sm btn-dark float-right mt-1" type="submit" ata-tooltip="tooltip"
							data-placement="bottom" title="Submit comment" data-delay="50">submit</button>
					</fieldset>
				</form>
			</div>
		</div>
		{% else %}
		<div class="row mt-2 no-gutters justify-content-center">
			<div class="col-lg-8 col-md-10 col-sx-12 ">
				<p class="lato d-flex justify-content-end mb-0">To leave a comment, login is required.</p>
			</div>
		</div>
		{% endif %}
		<!-- / Comment form -->

		{% for comment in post.comments.all|default_if_none:"No comments for this post yet" %}
		{% if comment.status == 'p' %}
		<!-- Comment -->
		<div class="row mb-1 pt-4 no-gutters justify-content-center">
			<div class="col-lg-8 col-md-10 col-sx-12 mt-2">
				<div class="card border-light mb-3">
					<div class="card-header p-0">
						<div class="row mb-1 no-gutters bg-transparent">
							<div class="col-sx-2 clearfix pl-3 comment-owner-image-container d-flex">
								{% if comment.owner.profiles.image %}
								<img class="img-fluid comment-owner-image"
									src="{{ MEDIA_URL }}{{ comment.owner.profiles.image }}" alt="Avatar">
								{% else %}
								<img class="img-fluid comment-owner-image"
									src="{% static 'img/avatars/avatardefault.png' %}" alt="Avatar">
								{% endif %}
							</div>
							<div class="col-sx-10 clearfix d-flex flex-column pl-3 mt-auto">
								<p class="lato my-0"><strong>{{ comment.owner }} </strong>|
									{{ comment.owner.profiles.country.name }}</p>
								<p class="article-published m-0"><i class="fa fa-clock warning-clr pr-2"></i><small
										class="thin">{{ comment.published_date }}</small>
								</p>
							</div>
							{% if user.is_authenticated and user == comment.owner %}
							<div class="editComment d-flex flex-row">
								<div class="text-center">
									<button class="update-comment btn btn-sm btn-warning" id="updateComment"
										data-id="{% url 'posts:update' comment.pk %}" data-tooltip="tooltip"
										data-placement="bottom" title="Edit comment" data-delay="50"><span
											class="fas fa-user-edit text-color-dark"></span></button>
								</div>
								<div class="text-center ml-1">
									<button class="delete-comment btn btn-sm btn-outline-danger"
										data-id="{% url 'posts:delete' comment.pk %}" data-tooltip="tooltip"
										data-placement="bottom" title="Delete comment" data-delay="50">
										<span class="fas fa-trash text-color-dark"></span>
									</button>
								</div>
							</div>
							{% endif %}
						</div>
						<div class="card-body bg-light pt-3">
							{{ comment.content|striptags|safe|linebreaks }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / Comment -->
		{% endif %}
		{% endfor %}
		<!-- Edit comment modal -->
		<!-- {% include '_modal.html' %} -->
		<div class="modal fade" tabindex="-1" role="dialog" id="modal{{comment.pk}}">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				</div>
			</div>
		</div>
		<!-- / Edit comment modal -->
	</div>
</div>
<!-- /Comments section -->
{% endblock %}

{% block BSForms %}

<script>
	// Hide / Show Comments section in blog post
	$(function () {
		// Edit / Delete Comment modal in blog post Comments
		$(".update-comment").each(function () {
			$(this).modalForm({
				submitBtn: "#submitUpdate",
				modalID: "#modal{{comment.pk}}",
				formURL: $(this).data('id')
			});
		});

		$(".delete-comment").each(function () {
			$(this).modalForm({
				modalID: "#modal{{comment.pk}}",
				formURL: $(this).data('id')
			});
		});

		// autofocus to first input field of a modal
		$('.modal').on('shown.bs.modal', function () {
			$('form').find('input[type=text]').filter(':visible:first').focus();
		});

	});
</script>

{% endblock BSForms %}
