{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}


{% block content %}
<!-- Original Header -->
<div class="container main-wrapper-index">
	<section id="generic-header">
		<div class="row w-100 justify-content-left no-gutters content-div mb-3 mt-5 d-flex">
			<div class="col">
				<h1 class="section-title">{{ title }}</h1>
			</div>
			<div class="col headerRightElement backHome FyNorm clearfix">
				<a href="{% url 'products:all_products' %}" class="btn btn-link back-button clearfix text-dark" data-tooltip="tooltip"
					data-placement="bottom" title="Take me back Home" data-delay="50"><i
						class="align-center home-arrow fa fa-chevron-left"></i>Back to Events</a>
			</div>
		</div>
	</section>
</div>
<!-- / Original Header -->


<!-- /original Headline | Carousel -->
{% for original in original %}

<!-- original Headline -->
<div class="container main-wrapper-index bg-light mb-5 pb-5">
	<section id="highlightArticle">
		<div class="row d-flex w-100 justify-content-center no-gutters">
			<div class="col text-center mt-lg-3 mb-lg-4 w-100 pt-5">
				<h1 class="article-title">{{ original.title }}</h1>
			</div>
		</div>

		<!-- Highligh Carousel -->
		<div class="row justify-content-center">
			<div class="col-lg-10 col-md-11 col-sx-12">
				<div id="carouselIndicators{{ original.id }}" class="carousel slide highlightCarousel"
					data-ride="carousel">
					{% if original.image_main and original.image_two and original.image_three %}
					<ol class="carousel-indicators">
						<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselIndicators" data-slide-to="1"></li>
						<li data-target="#carouselIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item highlightItem active"
							style="background-image: url('{{ MEDIA_URL }}{{ original.image_main }}');"
							alt="First slide">
						</div>
						<div class="carousel-item highlightItem"
							style="background-image: url('{{ MEDIA_URL }}{{ original.image_two }}');"
							alt="Second slide">
						</div>
						<div class="carousel-item highlightItem"
							style="background-image: url('{{ MEDIA_URL }}{{ original.image_three }}');"
							alt="Third slide">
						</div>
					</div>
					{% elif original.image_main and original.image_two and not original.image_three %}
					<ol class="carousel-indicators">
						<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselIndicators" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item highlightItem active"
							style="background-image: url('{{ MEDIA_URL }}{{ original.image_main }}');"
							alt="First slide">
						</div>
						<div class="carousel-item highlightItem"
							style="background-image: url('{{ MEDIA_URL }}{{ original.image_two }}');"
							alt="Second slide">
						</div>
					</div>
					{% elif original.image_main and original.image_three and not original.image_two %}
					<ol class="carousel-indicators">
						<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselIndicators" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item highlightItem active"
							style="background-image: url('{{ MEDIA_URL }}{{ original.image_main }}');"
							alt="First slide">
						</div>
						<div class="carousel-item highlightItem"
							style="background-image: url('{{ MEDIA_URL }}{{ original.image_three }}');"
							alt="Second slide">
						</div>
					</div>
					{% else %}
					<div class="carousel-inner">
						<div class="carousel-item highlightItem active"
							style="background-image: url('{{ MEDIA_URL }}{{ original.image_main }}');"
							alt="First slide">
						</div>
					</div>
					{% endif %}
					<a class="carousel-control-prev" href="#carouselIndicators{{ original.id }}" role="button"
						data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselIndicators{{ original.id }}" role="button"
						data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</div>
		<!-- / Original Carousel -->

		<!-- Original Article -->
		<div class="row py-4 px-0 no-gutters justify-content-center highlightArticle">
			<div class="col-lg-10 col-md-11 col-sx-12">
				<p class="lato">{{ original.description }}</p>
			</div>
		</div>

		<!-- Original Specs -->
		<div class="row d-flex pb-4 justify-content-center no-gutters">
			<div class="col-lg-10 col-md-11 col-sx-12">
				<div class="highlightSpec">
					<strong>Date: </strong><em> {{ original.date }}</em>
				</div>
				<div class="highlightRange">
					<strong>Price range: </strong>
					<em>{{ original.price_min }} - {{ original.price_max }}</em>
				</div>
			</div>
		</div>
	</section>
</div>
{% endfor %}


{% endblock %}
