{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags%}
{% load widget_tweaks %}


{% block content %}
<!-- Home Header -->
{% include '_home_header.html' %}
<!-- / Home Header -->

<!-- Search -->
<div class="container main-wrapper px-0">
	<form class="px-2 search-form" method="get">
		{% csrf_token %}
		{{ filter.form.non_field_errors }}
		{% for hidden in filter.form.hidden_fields %}
		{{ hidden  }}
		{% endfor %}

		<div class="row no-gutters p-0 m-0">
			<div class="col-lg-12 col-xl-11 p-0 m-0">
				<div class="form-row row-cols-1 row-cols-sm-2 row-cols-md-4 no-gutters m-0 p-0">
					<div class="form-group col">
						{{ filter.form.place.label_tag }}
						{% render_field filter.form.place class="form-control" %}
					</div>
					<div class="form-group col">
						{{ filter.form.make.label_tag }}
						{% render_field filter.form.make class="form-control" %}
					</div>
					<div class="form-group col">
						{{ filter.form.o.label_tag }}
						{% render_field filter.form.o class="form-control" %}
					</div>
				</div>
			</div>
			<div class="col-lg-12 col-xl-1 p-0 m-0 align-self-end">
				<div class="form-group d-flex">
					<button type="submit" class="btn btn-sm btn-dark ml-auto" data-tooltip="tooltip"
						data-placement="bottom" title="Search event"><i class="fa fa-search mr-1" aria-hidden="true"
							data-delay="50"></i>search</button>
				</div>
			</div>
		</div>

	</form>
</div>
<!-- / Search -->
<!-- Instructive overlay demo https://codepen.io/basiclaser/pen/OVWOdX for the overlay links which I used in carousel and Products card images -->
<!-- Events card field-->
<div class="container main-wrapper-sales pb-3 px-0 mx-auto">

	<section id="products-sales-field">
		<div class="row clearfix no-gutters">
			<!-- Event card (row start) -->
			{% for event in filter.qs %}
			<div class="col-md-6 mb-4 p-0 mx-sm-0">
				<div class="card sales-card pr-0 h-100">
					{% if event.status == 'p' %}
					<span class="badge badge-success promo-badge lato position-absolute mb-2">Promotion</span>
					{% elif event.status == 's' %}
					<span class="badge badge-danger promo-badge lato position-absolute mb-2">Sold out</span>
					{% elif event.status == 'o' or event.in_stock == 0 %}
					<span class="badge badge-warning promo-badge lato position-absolute mb-2">Out of stock</span>
					{% else %}
					{% endif %}
					<div class="row pr-0 no-gutters">
						<div class="col-sm-7 col-md-12 col-xl-7 d-flex align-items-center no-p">
							<div class="view event-detail d-flex">
								<img class="img-fluid event-image" src="{{ MEDIA_URL }}{{ event.image_main }}"
									alt="{{ event.title }}">
								</div>
						</div>
						<div class="col-sm-5 col-md-12 col-xl-5 pl-sm-0 pl-lg-0">
							<div class="card-body pb-2 h-100 px-3">
								<h5 class="card-title text-left m-0">
									<strong class="lato">
                                        {{ event.title }}
									</strong>
								</h5>
								<div class="col-12 d-flex p-0 mt-2">
									<span class="lato scale mr-2"><strong>Where? </strong></span>
									<span class="lato scale mr-2">{{ event.place }}</span>
								</div>
								<div class="col-12 d-flex p-0">
									<span class="lato scale mr-2"><strong>When? </strong></span>
									<span class="lato scale mr-2">{{ event.date }}</span>
								</div>
								<div class="d-flex p-0 w-100">
									<a href="{% url 'products:get_original' id=event.original_key.pk %}"
										class="btn btn-link text-warning  pl-0 about-original" data-tooltip="tooltip"
										data-placement="bottom" title="Read more about event" data-delay="50">Read about event...</a>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer d-flex px-2 py-2 mt-auto">
						<div class="row w-100 h-100 mb-0 no-gutters">
							<div class="col d-flex clearfix align-items-center">
								<span class="lato pl-2"><strong class="lato price medium">Price: </strong></span>
								{% if event.status == 'p' %}
								<div class="autoRight pl-2"><i class="fa fa-euro"></i>
									<span class="old-price">{{ event.old_price }} </span><strong>
										class="lato price medium">&nbsp; at {{ event.price }}</strong>
								</div>
                                 {% elif event.price == 0.00 %}
                                     <div>&nbsp;FREE</div>
								{% else %}
								<div class="autoRight pl-2"><i class="fa fa-euro"></i>
									<strong class="lato price">{{ event.price }} </strong>
								</div>
								{% endif %}
							</div>
							<form class="event-form m-0 p-0" method="POST"
								action="{% url 'add_to_cart' event.id %}">
								{% csrf_token %}
								<input name="quantity" type="hidden" value="1" class="form-control">
								<span class="autoLeft">
									{% if event.status == 's' or event.status == 'o' or event.in_stock == 0 %}
									<button class="btn btn-outline-dark btn-sm pl-0 add-to-cart px-2"
										data-tooltip="tooltip" data-placement="bottom"
										title="Event not available currently" data-delay="50" disabled>add</button>
									{% else %}
									<button type="submit" class="btn btn-dark btn-sm text-light pl-0 add-to-cart px-2"
										data-tooltip="tooltip" data-placement="bottom" title="Add to cart"
										data-delay="50">add</button>
									{% endif %}
								</span>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="eventDetail{{ event.id }}" tabindex="-1" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-dialog-scrollable" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Description</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="w-100">
							{% if event.image_sec %}
							<img class="img-fluid modal-product-image" src="{{ MEDIA_URL }}{{ event.image_sec }}"
								alt=" &nbsp; {{ event.title }} ">
							{% else %}
							<img class="img-fluid modal-product-image" src="{{ MEDIA_URL }}{{ event.image_main }}"
								alt=" &nbsp; {{ event.title }} ">
							{% endif %}
						</div>
						<div class="modal-body">
							<p class="lato">{{ event.description }}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /Event card -->
			{% empty %}
			<div class="container">
				<div class="row no-gutters justify-content-center">
					<div class="col-12 text-center">
						<div class="jumbotron jumbotron-fluid">
							<div class="container">
								<h4 class="display-4 mb-3 thin">No events found with theses search terms.</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</section>
	{% if not user.is_authenticated %}
	<div class="row clearfix no-gutters">
		<div class="col">
			<h3 class="login-notice lato px-2">Login to use our promotions!</h3>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
