{% extends 'base.html' %}

{% load bootstrap_tags %}
{% load crispy_forms_tags%}

{% block content %}
<!-- Login Header -->
<div class="container main-wrapper-index">
    <section id="generic-header">
    {% include '_home_header.html' %}
    </section>
</div>
<!-- / Login Header -->
<!-- Login form -->
<div class="container main-wrapper-index bg-light mb-5 py-5">
    <div class="row d-flex justify-content-center no-gutters">
        <div class="col-lg-8 col-md-10 col-sx-12 d-block mx-auto pt-3 my-5">
            <p>If you don't yet have an account, you can register <a href="{% url 'register' %}">here.</a></p>
            <form method="POST">
                {% csrf_token %} {{ login_form | crispy }}
                <button type="submit" class="btn btn-sm btn-dark">Login</button>
            </form>
            <p class="pt-3"><a href="{% url 'password_reset' %}">Reset Password</a></p>
        </div>
    </div>
</div>
<!-- / Login form -->
{% endblock %}