{% extends 'base.html' %}

{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags%}
<!-- Update comment form -->

{% block content %}
<!-- Update Profile Header -->
<div class="container main-wrapper-index px-0">
	<section id="update-profle-header">
	{% include '_home_header.html' %}
	</section>
</div>
<!-- / Update Profile Header -->
<div class="container pt-0 mb-5">
	<div class="row no-gutters m-0 p-0">
		<div class="col-12 p-0 m-0">
			<div class="row mt-2 justify-content-center no-gutters py-3 no-gutters">
				<div class="col-md-6 col-sm-12 d-flex justify-content-center">
					<!-- Update Profile form -->
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ user_form|crispy }}
						{{ profile_form|crispy }}
						<div class="row mt-5 d-flex no-gutters">
							<div class="col-6 pl-0 pr-1">
							<a href="{% url 'user_profile' as profile %}" class="btn tbn-medium btn-outline-dark btn-block">Cancel</a></div>
							<div class="col-6 pr-0 pl-1">
							<button type="submit" class="btn tbn-medium btn-info btn-block">Update</button>
							</div>
						</div>
					</form>
					<!--/ Update Profile form -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}