<footer>
	<div class="bg-dark p-4">
		<div class="container">
			<div class="row">
				<div class="px-0 col-lg-4 col-md-6">
					<div class="col align-self-center pt-4">
						<h4 class="text-white arvo">Events and Festivals</h4>
						<p class="text-white">15 O'Connell Street Upper
							<br>Dublin, Ireland
							<br>+353 1 202 1777
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-dark py-3">
		<div class="container">
			<div class="row d-flex justify-content-between">
				<div class="col-lg-4 col-md-6 pr-0">
					<div class="row text-end mb-3 no-gutters w-100">
						<div class="col-md-2 col-3 ml-4 ml-sm-0">
							<a href="https://github.com/Junon72/DreamsOnWheels" target="_blank" class="footer-nav" data-tooltip="tooltip"
								data-placement="bottom" title="Social media" data-delay="50"><i class="fab fa-github fa-2x"></i></a>
						</div>
						<div class="col-md-2 col-3">
							<i class="fas fa-grip-lines-vertical text-warning fa-2x"></i>
						</div>
						<div class="col-md-2 col-5">
							<a href="{% url 'contact:contact' %}" class="footer-nav" data-tooltip="tooltip"
								data-placement="bottom" title="Contact us" data-delay="50"><i
									class="fa fa-envelope fa-2x"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 ml-4 ml-sm-3 ml-md-0 p-0">
					<p class="text-secondary text-md-right pl-2 pl-sm-0">{% now 'Y' %} @ Ceslovas Karzenauskas</p>
				</div>
			</div>
		</div>
	</div>
</footer>

