<div class="container main-wrapper-index">
	<section id="generic-header">
		<div class="row w-100 justify-content-left no-gutters content-div mb-3 mt-5 d-flex">
			<div class="col">
				<h2 class="section-title">{{ title }}</h2>
			</div>
			<div class="col headerRightElement backHome FyNorm clearfix">
				{% if profile %}
				<a href="{% url 'user_profile' %}" class="btn btn-link back-button text-dark" data-tooltip="tooltip"
					data-placement="bottom" title="Back to Profile" data-delay="50"><i
						class="align-center home-arrow fa fa-chevron-left"></i>Profile</a>
				{% elif cart %}
				<a href="{% url 'view_cart' %}" class="btn btn-link back-button text-dark" data-tooltip="tooltip"
					data-placement="bottom" title="Back to Profile" data-delay="50"><i
						class="align-center home-arrow fa fa-chevron-left"></i>Back to events</a>
				{% else %}
				<a href="{% url 'index' %}" class="btn btn-link back-button clearfix text-dark" data-tooltip="tooltip"
					data-placement="bottom" title="Take me back Home" data-delay="50"><i
						class="align-center home-arrow fa fa-chevron-left"></i>Back Home</a>
				{% endif %}
			</div>
		</div>
	</section>
</div>
